# Python Service Configuration
SPAMBOT_PORT=8001
SPAMBOT_HOST=0.0.0.0

# Node.js Backend URL (для webhooks/callbacks)
# Docker: http://luxee-backend:5000
# Localhost: http://localhost:5001
NODE_BACKEND_URL=http://luxee-backend:5000

# Флаг Docker окружения (не трогать в продакшене)
DOCKER=true

# Режим отладки
SKIP_SENDING_MESSAGE=false
HIDDEN_BROWSER=true
WAIT_MINUTES_BETWEEN_PROFILES=0
